Source: ros-rolling-rviz2-cinematographer-gui
Section: misc
Priority: optional
Maintainer: "Masaya Kataoka" <ms.kataoka@gmail.com>
Build-Depends: debhelper (>= 9.0.0), qt6-base-dev, ros-rolling-ament-cmake, ros-rolling-ament-index-cpp, ros-rolling-geometry-msgs, ros-rolling-interactive-markers, ros-rolling-nav-msgs, ros-rolling-pluginlib, ros-rolling-qt-gui-cpp, ros-rolling-rclcpp, ros-rolling-rqt-gui-cpp, ros-rolling-rviz2-cinematographer-msgs, ros-rolling-rviz2-cinematographer-video-recorder, ros-rolling-std-msgs, ros-rolling-tf2, ros-rolling-tf2-geometry-msgs, ros-rolling-visualization-msgs, ros-rolling-yaml-cpp-vendor, ros-rolling-ros-workspace
Homepage: https://github.com/hakuturu583/rviz_cinematographer
Standards-Version: 3.9.2

Package: ros-rolling-rviz2-cinematographer-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt6core6t64, libqt6widgets6, qt6-base-dev, ros-rolling-ament-index-cpp, ros-rolling-geometry-msgs, ros-rolling-interactive-markers, ros-rolling-launch, ros-rolling-launch-ros, ros-rolling-nav-msgs, ros-rolling-pluginlib, ros-rolling-qt-gui-cpp, ros-rolling-rclcpp, ros-rolling-rqt-gui, ros-rolling-rqt-gui-cpp, ros-rolling-rviz-default-plugins, ros-rolling-rviz2, ros-rolling-rviz2-cinematographer-msgs, ros-rolling-rviz2-cinematographer-video-recorder, ros-rolling-rviz2-cinematographer-view-controller, ros-rolling-std-msgs, ros-rolling-tf2, ros-rolling-tf2-geometry-msgs, ros-rolling-visualization-msgs, ros-rolling-yaml-cpp-vendor, ros-rolling-ros-workspace
Description: An rqt plugin to create and edit trajectories for the rviz2 camera and record the resulting views to a video.
